
Body {
  /* background-color: #f5f5f5; */
  /* background-color: #f3f6fb;  */
  /* background-color: #e8ebf3;  */
  background-color: #e6f0ff; 

  /* background-color: rgb(28, 30, 39); */

  color: #282C40;
  width: 100vw;
  height: 100vh;
 overflow-x: hidden;
}
